
.twa-language-element{
    .twa-language-element-position{
        position: absolute;
        top: 0;
        right: 0 !important;
    }
    .lang-picker{
        padding: 0 !important;
        margin:0 !important;
        font-weight: bold;
        outline : 0;
        appearance: auto !important;
        color: #4b5675 !important;
        text-transform: lowercase;
        font-size: 10px;
        border: 0;
    
        &:focus{
            outline : 0;
        }
    }
}
