.twa-form-label {
    @apply text-[12px];
    color: #4b5675;
    font-weight: 500;
    line-height: 1.125rem;
}

.twa-form-input-container{
    @apply relative mt-1 rounded-md shadow-sm;
}

.twa-form-input-ring{
    
    @apply focus:ring-twafieldsprimary-600 focus-within:focus:ring-twafieldsprimary-600 focus-within:ring-twafieldsprimary-600  flex rounded-md ring-1 transition focus-within:ring-2  text-twafieldsgray-600 ring-gray-300  form-input-element;
}

.twa-form-input{
    @apply text-[12px] w-full rounded-md border-0 bg-transparent py-1.5 ring-0 placeholder:text-twafieldsgray-400 focus:outline-none focus:ring-transparent  sm:leading-6;
}

.form-error-message{
    @apply mt-2 block text-xs font-medium text-red-500;
}

.form-input-element {
    background-color: #fcfcfc;
}
