.ql-toolbar {
    @apply flex items-center rounded-t-md dark:placeholder-dark-400 w-full border-0 bg-transparent py-1.5 ring-0 placeholder:text-gray-400 focus:outline-none focus:ring-transparent sm:text-sm sm:leading-6;
    border: 1px solid rgb(209 213 219) !important;
    // border-bottom:1px solid  transparent !important;
    .ql-picker-label {
        font-size: 12px;
        color: #4b5675;
        font-weight: 500;
        line-height: 1.125rem;
    }
    svg {
        .ql-stroke {
            font-size: 12px;
            stroke: #4b5675;
        }
    }
}
.ql-container {
   
    background-color: #fcfcfc;
    border: 1px solid rgb(209 213 219) !important;
    border-top: 0px solid transparent !important;
    @apply rounded-b-md   text-gray-600 ring-gray-300;
}
.ql-editor{
    min-height: 200px;
}